body {
    background-color: #D3CFCF;
}

html {
    scroll-behavior: smooth;
}

.link-underline:hover {
    text-decoration: underline;
}

.header-bg {
    background-color: #D3CFCF;
}

.dropdown-bg {
    background-color: #d3d3d3;
}

.gap-bottom-150 {
    padding-bottom: 150px;
}

.gap-top-300 {
    padding-top: 300px;
}

.gap-bottom-100 {
    padding-bottom: 100px;
}

.gap-top-100 {
    padding-top: 100px;
}

.gap-bottom-50 {
    padding-bottom: 50px;
}

.gap-bottom-200 {
    padding-bottom: 200px;
}

.main-brands {
    background-color: #fff;
}

.brands {
    padding: 30px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
    line-height: 1;
}

.brands:hover {
    border: 1px solid #3e3e3e;
}

.main-footer {
    background-color: #918E8E;
}

.wp-block-image__wrapper {
    display: block;
    position: relative;
}

.wp-block-image__content {
    overflow: hidden;
    display: inline-block;
}

.wp-block-image__content figure {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    height: 350px;
}

.wp-block-image {
    margin-bottom: 0;
}

figure {
    margin: 0 0 1rem;
}

figure img {
    width: 40vw;
}

.wp-block-image img {
    width: 100%;
    transition: transform .25s ease-in-out;
}

.wp-block-image img {
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
  	-moz-transition: all .3s ease; /* Firefox */
  	-o-transition: all .3s ease; /* IE 9 */
  	-ms-transition: all .3s ease; /* Opera */
  	transition: all .3s ease;
  	position:relative;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20);
}
  
.img-hover:hover:after {
    border:1px solid #000;
}

.main-header-mobile {
    display: none;
}

@media (max-width: 1000px) {
    .main-header-web {
        display: none!important;
    }

    .main-header-mobile {
        display: block;
    }
}

.footer-phone {
    font-size: 2em;
    font-weight: 600;
}

.mx-10 {
    margin-left: 10rem;
    margin-right: 10rem;
}