
html {
    scroll-behavior: smooth;
}

section {
    border-top: #000 0.5px solid;
}

a {
    transition: all .4s cubic-bezier(.3,0,.3,1);
    -webkit-transition: all .4s cubic-bezier(.3,0,.3,1);
}

a {
    box-shadow: none;
    text-decoration: none;
}

.link-underline:hover:after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform-origin: bottom left;
}

.link-underline:before {
    content: "0" counter(onovo-menu-counter) ".";
    position: absolute;
    left: -80px;
    top: 15px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: #494949;
}

.link-underline:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transition: transform .4s ease-out;
    -webkit-transition: transform .4s ease-out;
    transform-origin: bottom right;
}

.link-underline:hover {
    text-decoration: underline;
    transition: all .4s cubic-bezier(.3,0,.3,1);
    -webkit-transition: all .4s cubic-bezier(.3,0,.3,1);
}

.header-bg {
    background-color: rgb(255, 255, 255);
}

.dropdown-bg {
    background-color: rgb(255, 255, 255);
}

.gap-bottom-150 {
    padding-bottom: 150px;
}

.gap-top-300 {
    padding-top: 300px;
}

.gap-bottom-100 {
    padding-bottom: 100px;
}

.gap-top-100 {
    padding-top: 100px;
}

.gap-top-50 {
    padding-top: 50px;
}

.gap-bottom-50 {
    padding-bottom: 50px;
}

.gap-bottom-200 {
    padding-bottom: 200px;
}

.main-brands {
    background-color: #fff;
}

.brands {
    padding: 30px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
    line-height: 1;
}

.brands:hover {
    border: 1px solid #3e3e3e;
}

.main-footer {
    background-color: #f8f9fa;
}

.wp-block-image__wrapper {
    display: block;
    position: relative;
}

.wp-block-image__content {
    overflow: hidden;
    display: inline-block;
}

.wp-block-image__content figure {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
    height: 350px;
}

.wp-block-image {
    margin-bottom: 0;
}

figure {
    margin: 0 0 1rem;
}

figure img {
    width: 40vw;
}

.wp-block-image img {
    width: 100%;
    transition: transform .25s ease-in-out;
}

.wp-block-image img {
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
  	-moz-transition: all .3s ease; /* Firefox */
  	-o-transition: all .3s ease; /* IE 9 */
  	-ms-transition: all .3s ease; /* Opera */
  	transition: all .3s ease;
  	position:relative;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20);
}
  
.img-hover:hover:after {
    border:1px solid #000;
}

.main-header-mobile {
    display: none;
}

@media (max-width: 1000px) {
    .main-header-web {
        display: none!important;
    }

    .main-header-mobile {
        display: block;
    }

    .mx-10 {
        margin-left: 0!important;
        margin-right: 0!important;
    }
}

.footer-phone {
    font-size: 2em;
    font-weight: 600;
}

.mx-10 {
    margin-left: 10rem;
    margin-right: 10rem;
}

.w-400px {
    width: 400px;
}